a.link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
  }
  
  a.link-button .icon{
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    background-color: var(--primary-color);
    border: solid 0.04rem #fff;
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
  }
  
  a.link-button .icon .play-icon{
    border:solid 0.4rem #fff;
    width:0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -0.5rem;
  }
  
  a.link-button .label{
    margin-left: 0.4rem;
  }

  a.link-button .icon:hover{
    transform: scale(1.2);
}