.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative; 
}

.navigator ul li {
    margin: 3.75rem 0; 
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li a {
    color: #fff;
    font-weight: bold;
    position: relative;
    border: solid 0.125rem #fff;
    width:  2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.navigator .button-active{
    background-color: #FFF;
    color: #000;
    border: 0.1875rem solid #000;
    outline: 0.125rem solid #FFF;
    
}

.navigator::before {
    content: "";
    position: absolute;
    top: 0; 
    width: 0.125rem;
    height: 100%;
    background-color: #fff;
}


.navigator ul li a:hover {
    transform: scale(1.1);
    color: #000;
    background-color: #fff;
}

.navigator .navigator__icon {
    position: absolute;
    top: -2.8rem;
}